<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>
<body>
    Welcome !

    <table border="1" align="center" cellpadding="8">
        <tr>
            <td align="center"><a href="{% url 'Seller:Myprofile' %}">MyProfile</a></td>
        </tr>
        <tr>
            <td align="center"><a href="{% url 'Seller:AddProduct' %}">Add Product</a></td> 
        </tr>
        <tr>
            <td align="center"><a href="{% url 'Seller:ViewBookings' %}">View Bookings</a></td>
        </tr>

    </table>
</body>
</html>