<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Product</title>
</head>

<body>
    <form action="" method="post">
        {% csrf_token %}
        <table border="1" align="center" cellpadding="10">
            <tr>
                <td>
                    <input type="text" name="txt_search" placeholder="Search Product">
                </td>
                <td>
                    <select name="sel_category" id="sel_category">
                        <option value="">--Select Category--</option>
                        {% for i in categorys %}
                        <option value="{{ i.id }}">{{ i.category_name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select name="sel_subcategory" id="sel_subcategory">
                        <option value="">--Select SubCategory--</option>
                    </select>
                </td>
                <td>
                    <input type="submit" value="Search">
                </td>
            </tr>
        </table>
    </form>

    <br>

    <table align="center" cellpadding="10">
        <tr>
            {% for i in products %}
            <td valign="top">
                <fieldset style="width:250px;">
                    <legend><strong>{{ i.product_name }}</strong></legend>

                    <p>
                        <strong>Category:</strong>
                        {{ i.subcategory.category.category_name }}
                    </p>

                    <p>
                        <strong>SubCategory:</strong>
                        {{ i.subcategory.subcategory_name }}
                    </p>

                    <p>
                        <strong>Price:</strong>
                        ₹{{ i.product_price }}
                    </p>

                    <p>
                        <strong>Description:</strong>
                        {{ i.product_description }}
                    </p>

                    <p align="center">
                        <img src="{{ i.product_photo.url }}" width="120" height="120">
                    </p>

                    <p>
                        
                    </p>

                    <p align="center">
                        <a href="{% url 'User:AddCart' i.id %}">Add To Cart</a>
                    </p>
                </fieldset>
            </td>

            {% if forloop.counter|divisibleby:3 %}
        </tr>
        <tr>
            {% endif %}
            {% endfor %}
        </tr>
    </table>

</body>

{% if msg %}
<script>
    alert("{{ msg }}");
    window.location = "{% url 'User:ViewProduct' %}";
</script>
{% endif %}

</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $('#sel_category').change(function () {
        var cid = $(this).val();
        var ur = "{% url 'Seller:AjaxSubCategory' %}"
        $.ajax({
            url: ur,
            data: { cid: cid },
            success: function (data) {
                $('#sel_subcategory').html(data);
            }
        });
    });
</script>